@import '../../global';

ion-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

button {
    background: none;
}

@media screen and (min-width: $mobile-breakpoint) {
    ion-card {
        width: 250px;
    }
}